<!DOCTYPE html>

<html>
<head>
    <!--Add title to page, icon, import stylesheets-->
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <link rel="icon" href="img/tennisIcon2.jpg" type="image/x-icon" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!--Import bootstrap, jquery, and javascript files-->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>
