@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //set page title
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalculatorModel;

<!--Grade Calculator-->
<h2>Grade Calculator:</h2>
<h4>Enter grades below:</h4>
<form method="post">

    <!--Grade calculator form, enter % of each section and it outputs letter and percent grade.-->
    <label>Assignments: </label>
    <input id="intAssignment" asp-for="Assignment"/><br />
    <label>Group Project: </label>
    <input id="intGroupProject" asp-for="GroupProject"/><br />
    <label>Quizzes: </label>
    <input id="intQuiz" asp-for="Quiz"/><br />
    <label>Exams: </label>
    <input id="intExam" asp-for="Exam"/><br />
    <label>INTEX: </label>
    <input id="intINTEX" asp-for="INTEX"/><br />
    <input type="submit" value="Calculate" id="btnCalculate" class="calculate" />

    @*allows for validator use*@
    <div asp-validation-summary="All"></div>
</form>

@*import js and jquery for calculator*@ 
<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="~/js/calculator.js"></script>