@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //set page title
    ViewData["Title"] = "All About Me";
}

<!--Header, picture of me doing something I enjoy-->
<h1>Tyler aka TyBod</h1>
<img src="~/img/tennispic.jpeg" alt="tennis pic" height="500" />
<br />
<br />

<!--Paragraph on what I hope to achieve from the class, expectations-->
<h2>What I hope to achieve from this class:</h2>
<p>
    My goal in this class is to become an absolute ASP.NET and C# guru wizard extravaganza.
    I hope to learn under Prof Hilton's monstrous wing as I tackle any
    challenges put before me. By the end of the semester I hope to be able to
    harness the skills necessary to create a world changing webapp. I want people 20 years
    from now to see my group's webapp and say, "Wow, we still can't figure out
    how they did that." I want people to write books about my group. I want to
    be on the cover of CodersWeekly.
    These are my conditions. You have one day.
</p>
<br />

<!--Future jobs I'm interested in-->
<h2>Top 3 Future Jobs:</h2>
<ol>
    <li>Software Development</li>
    <li>Water Slide Tester</li>
    <li>Host of The Bachelorette</li>
</ol>
<br />


